<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h5>Longest Drives</h5>
  <ion-list>
    <button ion-item *ngFor="let player of this.gameProvider.longestDrive | slice:1">
      {{player.name}}
    </button>
  </ion-list>
  <h5>Holes Won</h5>
  <ion-list>
    <button ion-item *ngFor="let team of this.gameProvider.score | slice:1">
      {{this.teamProvider.getTeamPlayerNames(team)}}
    </button>
  </ion-list>
</ion-content>
